*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  text-align: center;
  color: #fff;
  width: 100%;
  background-color: orange;
  padding: 10px;
}

h1
{
  padding: 10px;
}

button
{
  margin-top: 10px;
  background-color: transparent;
  padding: 20px;
  width: 120px;
  cursor: pointer;
}